.sectionHeading {
    text-align: center;
    color: #ff4444;
    font-family: $font2;
    font-size: 65px;
    font-weight: 400;
    line-height: 44px;
    margin-bottom: 54px;
    padding-bottom: 54px;
    padding-top: 54px;
    border-bottom: 5px solid lighten(#fff, 10);
    span {
        font-weight: 700;
    }
    @media #{$mobile_device} {
        font-size: 30px;
        //    letter-spacing: 3px;
        line-height: 35px;
    }
    @media #{$tablet_device} {
        font-size: 50px;
        line-height: 62px;
    }
    @media #{$mid_device} {
        font-size: 45px;
        line-height: 55px;
    }
}

.lessonsSection {
    // h3 {
    //   background-color: rgb(180, 49, 49);
    // }
    // ul {
    //     padding: 20px;
    //     background: lighten(#FF4444, 10);
    //     h4 {
    //         color: darken(blue, 30);
    //     }
    // }
}

h3,
h4 {
    color: #ff4444;
    font-weight: 900;
}

.red-text {
    color: lighten(#ff4444, 5);
    border-bottom: 5px solid #ff4444;
    padding: 10px;
}

.ourlessonsHeading {
    // color: lighten(#FF4444, 5);
    // border-bottom: 5px solid #FF4444;
    // border-width: 40%;
    // padding: 20px;
}

.gallerieHeading {
    text-align: center;
    color: #ff4444;
    font-family: $font2;
    font-size: 65px;
    font-weight: 400;
    line-height: 44px;
    margin-bottom: 54px;
    padding-bottom: 54px;
    padding-top: 54px;
    @media #{$mobile_device} {
        font-size: 30px;
        //    letter-spacing: 3px;
        line-height: 35px;
    }
    @media #{$tablet_device} {
        font-size: 50px;
        line-height: 62px;
    }
    @media #{$mid_device} {
        font-size: 45px;
        line-height: 55px;
    }
}

.divider {
    background: #ee3b24;
    display: block;
    margin: 20px auto;
    content: "";
    width: 120px;
    height: 5px;
}

// .single-page {
//     font-size: 20px;
//     font-weight: bold;

//     p {
//         color:  #555;
//         font-weight: bold;
//         padding-left: 10px;
//     }

//     h2 {
//         padding: 10px;
//         color: lighten(#ff4444, 5);
//         text-decoration: underline;
//     }
// }

body {
     background-color: lighten(#ff4444, 1);
}

.single-post{
    padding: 30px;
    background-color: white;
}


.section-padding {
  padding-top: 30px;
  padding-bottom: 30px;
}

.single-post-area {
    .blog_details {
        padding: 40px;

        ul p {
            padding-left: 1.5rem;
        }

        p {
            font-size: 18px;
            line-height: 32px;
            color: #5c5c5c;
            font-weight: 400;
        }

        h2 {
            letter-spacing: 1.5px;
            color: darken(#5c5c5c, 10);
        }
    }
}

.heading {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 1.5px;
}

.c-red {
    color: #ff4444;
    padding: 20px;

    &:hover {
        color: darken(#ff4444, 10);
    }
}
.txt-white {
    color: white !important;
}

.application-button {
    padding: 20px;
}

.font-bold {
    font-weight: 900;
}

.list-options li {
    // margin-bottom: 10px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.2px;
    color: black;
}

.bg-white {
    background-color: white;
}

.contact-section {
    padding: 30px 0 30px;
}

.footer .socail_links ul li a:hover {
  background: lighten(#ff4444, 5);
}
.wow {
   visibility: hidden;
}

.header-area .main-header-area .main-menu ul li {
    margin: 0 15px;
}

.underline-text {
        position: relative;
        z-index: 0;
        &:before {
        margin-bottom: 20px;
        position: absolute;
        content: "";
        height: 3px;
        width: 100%;
        background: rgb(255, 68, 68);
        bottom: 0;
        left: 0;
    }
}

.social-icons-contact {
    a {
        display: inline;
        font-size: 30px;
        margin-left: 10px;
    }
}
